<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" />
  </system.web>
  <!-- When deploying the service library project, the content of the config file must be added to the host's 
  app.config file. System.Configuration does not support config files for libraries. -->
  <system.serviceModel>
    <services>
      <service name="QuanLySinhVienWCF.QuanLySinhVienServices.SinhVienService">
        <endpoint address="" binding="basicHttpBinding" contract="QuanLySinhVienWCF.QuanLySinhVienServices.ISinhVienService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8080/QuanLySinhVienWCF/QuanLySinhVienServices/SinhVienService/" />
          </baseAddresses>
        </host>
      </service>
      <service name="QuanLySinhVienWCF.QuanLySinhVienServices.KhoaService">
        <endpoint address="" binding="basicHttpBinding" contract="QuanLySinhVienWCF.QuanLySinhVienServices.IKhoaService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8080/QuanLySinhVienWCF/QuanLySinhVienServices/KhoaService/" />
          </baseAddresses>
        </host>
      </service>
      <service name="QuanLySinhVienWCF.QuanLySinhVienServices.MonHocService">
        <endpoint address="" binding="basicHttpBinding" contract="QuanLySinhVienWCF.QuanLySinhVienServices.IMonHocService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8080/QuanLySinhVienWCF/QuanLySinhVienServices/MonHocService/" />
          </baseAddresses>
        </host>
      </service>
      <service name="QuanLySinhVienWCF.QuanLySinhVienServices.KetQuaService">
        <endpoint address="" binding="basicHttpBinding" contract="QuanLySinhVienWCF.QuanLySinhVienServices.IKetQuaService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8080/QuanLySinhVienWCF/QuanLySinhVienServices/KetQuaService/" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, 
          set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="True" httpsGetEnabled="True"/>
          <!-- To receive exception details in faults for debugging purposes, 
          set the value below to true.  Set to false before deployment 
          to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="True" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <connectionStrings>
    <!--<add name="QuanLySinhVien" connectionString="server=DESKTOP-AD954QP;Integrated Security=SSPI; database=QuanlysinhvienWCF"/>-->
    <add name="QuanLySinhVien" connectionString="Database=QLSV;Server=THUC-PC\SQLEXPRESS;Uid=plaster502;Pwd=Zenda2411; pooling=false;"/>
  </connectionStrings>
</configuration>
