<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IKhoaService" />
                <binding name="BasicHttpBinding_IMonHocService" />
                <binding name="BasicHttpBinding_ISinhVienService" />
                <binding name="BasicHttpBinding_IKetQuaService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8080/QuanLySinhVienWCF/QuanLySinhVienServices/KhoaService/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IKhoaService"
                contract="KhoaService.IKhoaService" name="BasicHttpBinding_IKhoaService" />
            <endpoint address="http://localhost:8080/QuanLySinhVienWCF/QuanLySinhVienServices/MonHocService/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMonHocService"
                contract="MonHocService.IMonHocService" name="BasicHttpBinding_IMonHocService" />
            <endpoint address="http://localhost:8080/QuanLySinhVienWCF/QuanLySinhVienServices/SinhVienService/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISinhVienService"
                contract="SinhVienService.ISinhVienService" name="BasicHttpBinding_ISinhVienService" />
            <endpoint address="http://localhost:8080/QuanLySinhVienWCF/QuanLySinhVienServices/KetQuaService/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IKetQuaService"
                contract="KetQuaService.IKetQuaService" name="BasicHttpBinding_IKetQuaService" />
        </client>
    </system.serviceModel>
</configuration>