<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ISinhVienService" />
            </basicHttpBinding>
        </bindings>
        <client>
          <endpoint address="http://localhost:8080/QuanLySinhVienWCF/QuanLySinhVienServices/SinhVienService/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISinhVienService"
                contract="SinhVienServiceRef.ISinhVienService" name="BasicHttpBinding_ISinhVienService" />
        </client>
    </system.serviceModel>
</configuration>